.li {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #f8f8f8;
    padding: 10px 0;
}

.textRow {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    width: 100px;
    flex-grow: 1;
    max-width: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    width: 100px;
    flex-grow: 1;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
}
