.wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    min-height: 200px;
    background-color: white;
}
.stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text {
}
.input {
    padding: 10px;
}
.textarea {
    min-height: 100px;
    resize: vertical;
    padding: 10px;
}
.btnRow {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.error {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 1);
}
